/* TODO Add site wide styles */
* {
    margin: auto 0;
}

body {
    display: block;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.pagenotfound-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}

.nofound-h1-h4 {
    width: 450px;
    height: 500px;
}
.nofound-h1 {
    color: #2d2e2f;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.4px;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.nofound-h4 {
    color: #2d2e2f;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.4px;
    /* line-height: 36px; */
}

.nofound-h4-link {
    padding-left: 5px;
    color: #027a97;
    font-weight: 600;
}

.nofound-h4-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
