/* TODO Add site wide styles */
* {
    margin: auto 0;
}

body {
    display: block;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.pagenotfound-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}

.nofound-h1-h4 {
    width: 450px;
    height: 500px;
}
.nofound-h1 {
    color: #2d2e2f;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.4px;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.nofound-h4 {
    color: #2d2e2f;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.4px;
    /* line-height: 36px; */
}

.nofound-h4-link {
    padding-left: 5px;
    color: #027a97;
    font-weight: 600;
}

.nofound-h4-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cate-pg-biz-review-div {
    display: flex;
    flex-direction: row;
    display: -webkit-box;
    -webkit-line-clamp: 2.5;
    -webkit-box-orient: vertical; 
    /* word-break: break-word; */
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 21px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(110,112,114,1);
}

.cate-pg-biz-review {
    padding-left: 5px;
    margin-top: 0;
    padding-right: 20px;
}

.fa-solid.fa-x {
    color: rgb(179, 3, 3);
    font-size: smaller;
}

.restaurants-btn {
    border: none;
    background-color: #e00707;
    width: 200px;
    /* height: 40px; */
    font-size: 17px;
    font-family: Poppins, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding-left: 0px;
    padding-right: 10px;
    font-weight: 500;
    position: absolute;
    top: 23rem;
    left: 16rem;
    padding-top: 5px;
    padding-bottom: -2px;
}

.restaurants-btn:hover {
    background-color: #fd2e2e;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.bizreviews-ct-div {
    display: flex;
    flex-direction: row;
}

.bizreviews-ct {
    padding-left: 5px;
    margin-top: 3px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #6E7072;
}

.cate-pg-cate-price-div {
    display: flex;
    flex-direction: row;
}

.cate-pg-biz-price {
    color: #6e7072;
    margin-top: 2px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
}
