.biz-img_container {    
    /* height: 426px;
    width: 25vw; */
    background-position: center center;
    /* z-index: -1000; */
}

.images-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    /* position: relative; */
}

.biz-img {
    height: 426px;
    width: 426px;
    background-size: cover;
    /* background-image: linear-gradient(180deg,#0000 31.42%,#000); */
}

/* .biz-img::before {
    background: linear-gradient(180deg,#0000 31.42%,#000);
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
} */

.biz-name {
    position: absolute;
    top: 20rem;
    left: 13%;
    color: white;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 56px;
}

.biz-rating {
    position: absolute;
    top: 24rem;
    left: 13%;
    display: inline-block;
}

.biz-reviews-count{
    position: absolute;
    top: 24.3rem;
    left: 27em;
    display: inline;
    line-height: 24px;
    color: rgba(255,255,255,1);
    text-align: left;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}


.claimed {
    display: flex;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgb(64, 163, 244);
    text-align: left;
    position: absolute;
    top: 27rem;
    left: 13.5%;

}

.claimed-p {
    padding-left: 5px;
}

#biz-category,
#biz-price,
.bullet-pt {
    color: white;
    padding-left: 12px;
    font-size: 18px;
}

#biz-category:hover {
    text-decoration: underline;
}

.biz-hour {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: left;
    position: absolute;
    top: 29.5rem;
    left: 13.5%;
    color: white;
    text-transform: uppercase;
}

.biz-page-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.biz-page-bottom-left-div {
    width: 700px;
}

.add-review-photo-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid #ebebeb;
}

.biz-write-review {
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    width: auto;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.6s;
    letter-spacing: 0.2;
}

.biz-write-review:hover {
    background-color: #fd2e2e;
    transition: background-color 0.5s ease-in;
}

.fa-solid.fa-star {
    padding-right: 8px;
}

.add-photo {
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    justify-content: center;
    margin: 0;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    position: relative;
    text-align: center;
    width: auto;
    background-color: transparent;
    border: 1px solid #ebebeb;
    color: rgba(45,46,47,1);
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.6s;
    margin-left: 12px;
    letter-spacing: 0.2;
}

.add-photo:hover {
    background-color: #f1eeee;
}

.fa-solid.fa-camera {
    padding-right: 8px;
}

.biz-page-h2 {
    color: rgba(45,46,47,1);
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 32px;
}

.map-hrs-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.biz-pg-address-directions-div {
    display: flex;
    justify-content: space-between;
}

.biz-pg-get-directions-btn {
    background-color: transparent;
    border: 1px solid #c8c9ca;
    vertical-align: middle;
    width: auto;
    font-size: 16px;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    border-radius: 4px;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.4px;
    transition: all 0.8s;
}

.biz-pg-get-directions-btn:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

.biz-street {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(2,122,151,1);
    letter-spacing: 0;
    padding-top: 10px;
}

.biz-city-state,
.biz-zip {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    padding-top: 7px;
    color: #2d2e2f;
}

table {
    margin-top: -6rem;
}

.biz-opt-hrs {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2d2e2f;
    line-height: 35px;
    padding: 15px;
    text-align: left;
}

.biz-opt-hrs-td {
    text-transform: uppercase;
}

.description-div {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.biz-description {
    width: 680px;
    color: rgba(45,46,47,1);
    text-align: left;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5;
    height: 65px;
    /* overflow-x: auto; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    word-break: break-word;
    overflow: auto;
    /* overflow-y: auto; */
    /* float: left; */
}

.reviews-container {
    display: flex;
    flex-direction: column;
}

.review-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-pic-name {
    display: flex;
    flex-direction: row;
}

.review-profile-pic {
    border-radius: 50%;
    height: 64px;
    width: 64px;   
}

.review-name {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(45,46,47,1);
    line-height: 24px;
    text-align: left;
    padding-left: 10px;
}

.biz-review-star-rating {
    padding-top: 10px;
    height: 20px;
    width: 108px;
    padding-bottom: 12px;
}

.biz-page-review-content {
    display: -webkit-box;
    /* -webkit-line-clamp: 6; */
    -webkit-box-orient: vertical; 
    word-break: break-word;
    overflow: auto;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;   
    text-align: left;
    margin-bottom: 16px;
    width: 600px;
}

.review-dot-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: rgba(45,46,47,1);
    transition: all 0.4s;
}

.review-dot-btn:hover {
    background-color: #ebebeb;
    border-radius: 50%;
    padding: 5px 7px;
}

.review-edit-delete {
    position: absolute;
    left: 46%;
    z-index: 0;
    width: 160px;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 0;
    box-shadow: 0 0 10px rgba(191, 186, 186, 0.5);
    border-radius: 3px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2d2e2f;
    font-weight: 400;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

button.biz-review-delete-btn {
    border: none;
    background-color: transparent;
    color: rgba(45,46,47,1);
    padding-left: 4px;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 8px;
}

.biz-review-delete-btn:hover {
    background-color: #c8c9ca;
    border-radius: 3px;
}

.biz-info-div {
    border: 1px solid #ebebeb;
    width: 365px;
    min-height: 150px;
    max-height: 250px;
    margin: 0;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 16px 12px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
}

a.biz-website {
    text-decoration: none;
    color: rgba(2,122,151,1);
    border-bottom: 1px solid #ebebeb;
    width: 365px;
    padding-bottom: 32px;
}

.biz-website:hover {
    text-decoration: underline;
}

.biz-phone {
    color: rgba(45,46,47,1);
}

.fa-solid.fa-location-arrow {
    padding-bottom: 32px;
    margin-bottom: 0;
    border-bottom: 1px solid #ebebeb;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.biz-pg-get-directions-div {
    border-top: 1px solid #ebebeb;
    padding-top: 18px;
}

.biz-pg-get-directions-p {
    color: #027a97;
    padding-bottom: 10px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.biz-pg-get-directions-p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.biz-directions-container {
    display: flex;
    justify-content: space-between;

}

.biz-pg-biz-address {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgba(110,112,114,1);
    text-align: left;
    width: 250px;
    /* padding-bottom: 20px;
    margin-bottom: 20px; */
}

.fa-solid.fa-diamond-turn-right.fa-lg {
    margin-top: 12px;
}

.biz-pg-edit-biz {
    display: flex;
    flex-direction: row;
}

a.edit-biz {
    color: rgba(2,122,151,1);
    line-height: 24px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 8px;
    padding-top: 12px;
}

.edit-biz:hover {
    text-decoration: underline;
}

.fa-solid.fa-pencil {
    color: rgba(2,122,151,1);
    padding-top: 12px;
}



/* main page businesses */
.main-pg-background-image {
  background-size: auto;
  min-width: 100vw;
  height: 650px;
}

.bizes-h1 {
    color: white;
    position: absolute;
    top: 18rem;
    left: 16rem;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.4;
}

.main-pg-h2 {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 900;
    color: #2d2e2f;
    letter-spacing: -0.4px;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.biz-cards-container {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-gap: 32px;
    /* width: 1144px;
    margin-left: 11rem; */
    margin-bottom: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.biz-info-card {
    border-radius: 4px;
    display: flex;
    /* flex-direction: column; */
    width: 556px;
    height: 210px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
}

.biz-card-photo {
    width: 202px;
    height: 210px;
    border-radius: 4px;
    object-fit: cover;
}

a.biz-card-link {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: #2d2e2f;
}

.biz-card-right-div {
    margin-top: 30px;
}

.biz-card-name {
    padding-left: 12px;
    padding-top: 10px;
    margin-top: -15px;
    font-size: 20px;
    font-family: Poppins, 'Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing: -0.4px;
    font-weight: 900;
}

.do-you-recommend {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 350;
    color: #2d2e2f;
    letter-spacing: 0.5px;
    line-height: 24px;
    padding-left: 12px;
    padding-top: 10px;
}

a.biz-card-link:hover {
    text-decoration: underline;
}

.biz-card-rating {
    padding-left: 12px;
    padding-top: 10px;
}

.biz-card-category {
    padding-top: 8px;
    padding-left: 14px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(2,122,151,1);
}

.biz-card-description {
    padding-top: 8px;
    padding-left: 14px;
    overflow: hidden;
    height: 60px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #2d2e2f;
    padding-right: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
}

.main-page-top-container {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 50px;
    min-width: 100vw;
}

.biz-categories {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    row-gap: 40px;
    justify-content: center;
    justify-items: center;
}

.category-container {
    height: 182.5px;
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}

.category-container:hover,
.biz-info-card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(191, 186, 186, 0.5);
    box-sizing: border-box;
}

.emoji-icon {
    font-size: 36px;
    margin: 10px;
}

.category-name {
    margin: 0;   
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 24px;
    color: rgba(45,46,47,1);
}

.main-page-bottom-container {
    padding-bottom: 40px;
    min-width: 100vw;
}



/* Create Business Page */

.create-biz-h2 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 900;
    color:#2d2e2f;
}

.create-biz-h5-div {
    display: flex;
    flex-direction: row;
}

.create-biz-h2-sub {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
    color:#0073bb;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
}

.us-address-only {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 800;
    color:rgb(230, 0, 0);
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
    padding-left: 10px;
}

.create-biz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-biz-single-sec {
    display: flex;
    flex-direction: column;
    width: 650px;
    line-height: 26px;
}

.create-biz-address-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 650px;
    box-sizing: border-box;
}

.create-biz-address-input {
    width: 98%;
    line-height: 30px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#2d2e2f;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-left: 10px;
}

.create-biz-city-state-div {
    display: flex;
    flex-direction: row;
    width: 650px;
    justify-content: space-between;
}

.create-biz-city-div,
.create-biz-state-div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 5px;
}

.create-biz-zipcode-div {
    display: flex;
    flex-direction: column;
    margin-left: -22rem;
    align-items: flex-start;
}

.create-biz-zipcode-input {
    width: 286px;
    line-height: 30px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#2d2e2f;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-left: 10px;
}

.create-biz-label {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#2d2e2f;
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.create-biz-input {
    line-height: 30px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color:#2d2e2f;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-left: 10px;
}

.create-biz-text {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    color:#2d2e2f;
    line-height: 20px;
}

select.create-biz-select {
    line-height: 30px;
    font-size: 14px;
    color: #2d2e2f;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.create-biz-btns-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: -21.5rem;
}

.create-biz-cancel-btn,
.edit-biz-delete-btn {
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    background-color: transparent;
    border: 1px solid rgba(200,201,202,1);
    color: #2d2e2f;
    transition: all 0.8s;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.create-biz-cancel-btn:hover,
.edit-biz-delete-btn:hover {
    background-color: #f1efef;
}

.create-biz-submit-btn,
.edit-biz-submit-btn {
    cursor: pointer;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    width: 200px;
    background-color: #e00707;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 450;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    margin-left: 14px;
}

.create-biz-submit-btn:hover,
.edit-biz-submit-btn:hover {
    background-color: #fd2e2e;
}

.edit-biz-btns-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right: -17rem;
}

.edit-biz-delete-btn {
    margin-left: 12px;
}


/* biz upload images */

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.image-upload-h1 {
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -0.4px;
    line-height: 56px;
    color: #2d2e2f;
    margin-top: 40px;
    margin-bottom: 16px;
}

.image-upload-p {
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#2d2e2f;
    text-align: left;
}

.upload-manage-div {
    display: flex;
    padding-top: 20px;
    margin-bottom: 30px;
}

.image-upload-h3 {
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    padding-left: 11px;
    padding-top: 5px;
    color:#2d2e2f;
}

.image-upload-div {
    border: 1px solid #c8c9ca;
    border-radius: 4px;
    box-sizing: border-box;
    width: 700px;
    height: 400px;
}

.add-your-photos {
    padding: 24px;
    color: #2d2e2f;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.uploadpg-view-add-div {
    display: flex;
    flex-direction: row;
    width: 700px;
}

.choose-file-btn#choose-file-btn {
    padding-left: 24px;
    padding-bottom: 30px;
}

.image-preview {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    /* margin-left: 15rem; */
}

.upload-image-save-btn {
    border: none;
    background-color:#e00707;
    height: 40px;
    width: auto;
    color: white;
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.6;
    transition: all 0.6s;
}

.upload-image-save-btn:hover {
    cursor: pointer;
    background-color: #fd2e2e;
}
.upload-image-save-div {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* see all photos */
.see-all-photos-btn {
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    height: 40px;
    width: auto;
    font-size: 17px;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 12px;
    padding-right: 30px;
    padding-left: 32px;
    padding-bottom: 32px;
    position: absolute;
    z-index: 1830;
    top: -7rem;
    right: 12rem;
    color: white;
    cursor: pointer;
    transition: all 0.6s;
}

.see-all-photos-btn:hover {
    background-color: rgb(200, 201, 202, 0.4);
}

.see-all-photos-div {
    position: relative;
}

/* bizPhotos Page */

.bizphotos-content-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.bizphotos-h1 {
    color: #333;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -0.4;
    padding-top: 10px;
    margin-top: 30px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.bizphotos-biz-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
}

.bizphotos-biz-img {
    height: 30px;
    width: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.bizphotos-info-div {
    padding-left: 5px;
}

.bizphotos-rating-div {
    display: flex;
}

.bizphotos-info-name {
    font-size: 14px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #0073bb;
    font-weight: 700;
}

.bizphotos-info-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bizphotos-reviews-ct {
    font-size: 12px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #666;
    padding-left: 5px;
}

.bizphotos-biz-photo {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.bizphotos-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    gap: 10px;
}

.bizphotos-images-img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    cursor: pointer;
    object-fit: contain;
}

.bizphotos-add-btn {
    border: 1px solid #d32323;
    background-color: #d32323;
    width: 40px;
    line-height: 1.3em;
    font-size: 14px;
    color: white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 8px;
    padding-bottom: 9px;
    width: auto;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    transition: all 0.6s;
}

.bizphotos-add-btn:hover {
    cursor: pointer;
    background-color: #fd2e2e;
}

.uploadpg-imgs-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.upload-pg-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.uploadpg-img-delete-div {
    position: relative;
}

.uploadpg-delete-pic-btn {
    border: none;
    background-color: transparent;
    color: #333;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
}

/* Errors */
.biz-img-upload-errors-div {
    position: absolute;
    top: 2.5rem;
    font-weight: 450;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #666;
    left: 0rem;
}

.create-biz-errors-div {
    position: absolute;
    top: 9rem;
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    /* left: 69rem; */
    right: 2%;
    width: 350px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(235, 235, 235, 0.6);
}

.create-biz-error {
    padding: 10px;
    color: #0073bb;
}

.upload-pg-errors-div {
    position: absolute;
    top: 20.2rem;
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #666;
    left: 27.5rem;
    width: 350px;
    font-size: 12px;
    line-height: 20px;
}

.remove-biz-modal {
    height: 300px;
    width: auto;
    box-shadow: none;
}

.remove-biz-h2 {
    color: #d32323;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 21px;
    line-height: 28px;
    text-align: left;
    font-weight: 900;
    /* padding-left: 24px; */
    padding-top: 20px;
    padding-bottom: 18px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid #ebebeb;
}

.remove-biz-h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    font-weight: 600;
    padding-top: 20px;
    color: #333;
}

.reomove-biz-h4{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    font-weight: 500;
    padding-top: 20px;
    color: #333;
}

.remove-biz-btns-div {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 6rem;
}

.remove-biz-confirm-btn {
    background-color: #d32323;
    border: 1px solid #d32323;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 6px 8px;
    line-height: 1.2em;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.6s;
    margin-right: 10px;
}

.remove-biz-confirm-btn:hover {
    background-color: #e44040;
}

.remove-biz-cancel-btn {
    border: none;
    background-color: transparent;
    color:#0073bb;
    font-size: 12px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.remove-biz-cancel-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.enlarged-img {
    border-radius: 5px;
}

#modal-content > #enlarged-photo-modal {
    background-color: transparent;
}