nav {
    padding: 24px 40px 30px 40px;
    display: flex;
    /* min-width: 100vw; */
    /* justify-content: start; */
    border-bottom: 1px solid #ebebeb;
    /* margin-bottom: 30px; */
    /* position: fixed */
}

.search-bar-container {
    display: flex;
    flex-direction: row;
}

.search-submit-btn {
    background-color: #E00707;
    border-radius: 0 4px 4px 0;
    border: none;
    box-sizing: border-box;
    max-width: 56px;
    text-align: center;
    max-height: 48px;
    /* padding: 2px; */
}
button > i.fa-solid.fa-magnifying-glass {
    padding: 12px 12px;
    font-weight: 600;
    color: white;
    width: 24px;
    height: 24px;
    vertical-align: center;
    text-align: center;
}

.search-submit-btn:hover {
    cursor: pointer;
    background-color: #fd2e2e;
}

li {
    list-style: none;
}

.search-bar-input {
    width: 400px;
    height: 48px;
    padding: 13px 16px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: text;
    border: none;
    box-shadow: inset 0 0 0 1px #c8c9ca;
    box-shadow: 0 0 10px rgba(191, 186, 186, 0.5);
    border-radius: 4px 0 0 4px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2d2e2f;
    font-weight: 400;
    margin-left: 10rem;
}

.session-actions-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
    margin-left: 23rem;
    /* justify-content: center;
    align-items: flex-start; */
}

.login-btn {
    border-radius: 4px;
    background-color: transparent;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 450;
    margin-top: 0;
}

.login-btn:hover {
    background-color: rgba(200,201,202,1);
    transition: background-color 1000ms ease-in;
}

.signup-btn {
    border-radius: 4px;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px 16px;
    background-color: rgba(224,7,7,1);
    border: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 450;
    margin-left: 20px;
}

.signup-btn:hover {
    background-color: #fd2e2e;
    transition: background-color 0.5s ease-in;
}

a.navbar-businesses,
a.navbar-businesses-link {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #2d2e2f;
    text-align: left;
    line-height: 20px;
    font-weight: 600;
    margin-right: 20px;
    text-decoration: none;
}

a.navbar-businesses:hover,
a.navbar-businesses-link:hover {
    text-decoration: underline;
}

.search-results-container {
    position: absolute;
    width: 400px;
    max-height: 400px;
    padding: 13px 16px;
    background-color: white;
    border-radius: 0 0 4px 4px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 10rem;
    box-shadow: 0 0 10px rgba(191, 186, 186, 0.5);
    box-sizing: border-box;
    border-bottom: 1px solid rgba(200,201,202,1);
    border-left: 1px solid rgba(200,201,202,1);
    border-right: 1px solid rgba(200,201,202,1);
    margin-top: 2px;
    overflow: auto;
    z-index: 1012;
}

a.filtered-search-results {
    text-decoration: none;
    color: #2d2e2f;
    padding: 15px;
    display: block;
}

a.filtered-search-results:hover {
    background-color: #ebebeb;
    border-radius: 4px;
}

.profile-div {
    display: flex;
    flex-direction: row;
    /* margin-left: 380%; */
    /* min-width: 680px; */
    justify-content: flex-end;
    margin-top: 5px;
    /* margin-left: 23rem; */
}
.user-profile-pic {
    border-radius: 50%;
    margin-top: 10px;

}

.user-profile-pic:hover {
    cursor: pointer;
}

.navbar-businesses {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #2d2e2f;
    text-align: left;
    line-height: 20px;
    font-weight: 600;
    margin-right: 22px;
}

.profile-dropdown {
    position: absolute;
    width: 258px;
    height: auto;
    right: 2%;
    z-index: 1282;
    border: 0;
    box-shadow: 0 0 10px rgba(191, 186, 186, 0.5);
    border-radius: 4px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #2d2e2f;
    font-weight: 400;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

a.dropdown-links {
    text-decoration: none;
    color: rgba(45,46,47,1);
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
    padding-left: 3px;

}

a.dropdown-links:hover,
.dropdown-logout-btn-div:hover {
    background-color: #c8c9ca;
    border-radius: 3px;
}

.dropdown-p {
    padding-left: 8px;
    text-align: left;
}

.dropdown-logout-btn-div {
    border-top: 1px solid rgba(200,201,202,1);
    margin-top: 10px;
    padding-left: 3px;
}

.logout-btn {
    border: none;
    background-color: transparent;
    color: rgba(45,46,47,1);
    padding-left: 8px;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 8px;
}